@media (max-width: 916px) and (orientation: landscape) {
  .headerContainer__grid {
    padding-top: 0.4rem;
  }

  .userHeader__info {
    img {
      width: 60px;
      height: 60px;
    }
    p {
      font-size: 12px;
    }
  }

  .mainContainer {
    padding-top: 100px;
  }
}

@media (max-height: 281px) and (orientation: landscape) {
  .headerContainer__grid {
    i {
      font-size: 1rem;
    }
  }

  .userHeader__messages {
    p {
      font-size: 10px;
    }
    i {
      font-size: 1rem;
    }
  }

  .userHeader__info {
    img {
      display: none;
    }
    p {
      font-size: 16px;
    }
  }

  .message-text {
    font-size: 12px;
  }

  .message-time {
    font-size: 0.6rem;
  }

  .mainContainer {
    padding-top: 48px;
    padding-bottom: 60px;
  }

  .sendMessage__container {
    form {
      padding: 5px 10px;
    }
    input {
      font-size: 12px;
    }
    button {
      i {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 450px) and (orientation: portrait) {
  .userHeader__info {
    img {
      width: 60px;
      height: 60px;
    }
    p {
      font-size: 12px;
    }
  }

  .message-text {
    font-size: 14px;
  }

  .message-time {
    font-size: 0.6rem;
  }

  .mainContainer {
    padding-top: 110px;
  }
}